@font-face {
  font-family: "Fungal";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/FungalVF.woff") format("woff"),
    url("../fonts/FungalVF.woff2") format("woff2");
}
